.galleryContainer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 190px;
  background-color: white;
}

.projectCard{
  background-color: #12d8a0be;
  width: 340px;
  padding-top: 20px;
  margin: 15px;
  box-shadow: 6px 6px 12px rgba(37, 37, 37, 0.507);
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  color: #ffffff;
}

.galleryImage {
  width: auto;
  min-height: 200px;
  max-height: 300px;
  margin: 0px 20px;
}

.projectName{
  margin: 5% 10%;
  font-size: 3rem;
  font-family: 'Tuesday Night';
}

.galleryTitle{
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 4.2rem;
  flex-basis: 100%;
  padding-left: 12%;
  padding-top: 20px;
  margin-bottom: 25px;
}

.cardButton{
  width: 140px;
  border: 3px solid #ffffff;
  background-color: #ffffff;
  color: rgb(46, 46, 46);
  padding: 5px 10px 5px 55px;
  margin-left: 68px; /* card width = 340px - 140px - 10px - 55px to center */
  box-shadow: 4px 4px 6px rgba(26, 26, 26, 0.466);
  transition: .5s;
  text-decoration: none;
}

.cardButton:hover{
  cursor: pointer;
  width: 150px;
  padding: 5px 10px 5px 60px;
  border-top-right-radius: 20px;
}

.codeButton, .appButton{
  text-decoration: none;
}

@media only screen and (max-width: 600px){
  .galleryContainer{
    margin-left: 30px;
  }

  .projectCard{
    width: 280px;
  }

  .galleryImage {
    width: auto;
    max-height: 240px;
    margin: 0px 20px;
  }

  .cardButton{
    margin-left: 35px;
  }

}