.contactContainer{
  display: flex;
  background-color: rgb(255, 255, 255);
  height: 300px;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 78%;
  padding: 180px 0px 50px 0px;
  margin: 0 auto;
}

.contactContainer h1 {
  flex-basis: 100%;
  margin-top: 10px;
  margin-bottom: 0px;
  font-family: "Tradesmith";
  font-size: 5rem;
}

.contactInfo{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 40%;
}

.contactInfo h2 {
  margin: 0;
  padding: 20px 0 0 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-decoration: none;
}

#relocate {
  font-size: 1.2rem;
}

.logos{
  display: flex;
  height: 200px;
  font-size: 5rem;
  align-items: center;
}

.logos svg {
  padding: 0 10px;
  font-size: 5rem;
  color: rgb(66, 66, 66);
  transition: .5s;
}

.logos svg:hover{
  color: rgb(0, 0, 0);
}

.resume{
  text-decoration: none;
  color: rgb(66, 66, 66);
}

.resume:hover{
  color: rgb(0, 0, 0);
}

@media only screen and (max-width: 600px) {
  .contactContainer{
    padding-left: 100px;
  }

  .contactContainer h1{
    font-size: 4rem;
  }
  
  .logos svg{
    font-size: 3rem;
  }

  .contactInfo h2{
    font-size: 1rem;
  }

  #relocate{
    font-size: .8rem;
  }

}